<div class="row">
	<div class="col-12 mt-3">
		<form>
			<input name="id" class="d-none" value="{{ new.id }}"/>
			<div class="row">
				<div class="col-12">
					<div class="form-floating">
						<input type="text" class="form-control" id="title" name="title" placeholder="Titulo del post" value="{{ new.title }}">
						<label for="title">{{ new.title }}</label>
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-6">
					<div class="form-floating">
						<select class="form-select" id="categoria" name="categoria" aria-label="Floating label select example">
							<option selected>Seleccione una categoria</option>
							{% for category in categorys %}
								{% if category.id is same as(new.category.id) %}
									<option value={{ category.id }} selected>{{ category.name }}</option>
								{% else %}
									<option value={{ category.id }}>{{ category.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<label for="categoria">Seleccione la Categoria</label>
					</div>
				</div>
				<div class="col-6">
					<div class="form-floating">
						<select class="form-select" id="autor" name="autor" aria-label="Floating label select example">
							<option selected>Seleccione el autor</option>
							{% for author in authors %}
								{% if author.id is same as(new.category.id) %}
									<option value={{ author.id }} selected>{{ author.name }}</option>
								{% else %}
									<option value={{ author.id }}>{{ author.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<label for="autor">Seleccione el Autor</label>
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-12">
					<div class="form-floating">
						<textarea class="form-control" placeholder="Escriba su post aca" id="comentario" name="comentario" style="height: 100px">{{ new.content }}</textarea>
						<label for="comentario">Escriba su post aca</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-12 mt-3" id="alert_edit"></div>
</div>
